



.container-card{
     flex-wrap: wrap;
     display: flex;
    //  margin: 150px auto 0 auto;

    .home-card{
      // margin: 150px auto 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.252);
        width: 350px;
        height: 450px;
        position: relative;
        top: 150px;
        z-index: 1;
        border-radius: 16px;
        background: #fff;
        box-shadow:  12px 22px 25px #c3c3c3,
                     -22px -22px 25px #fdfdfd;
        .card-img{
         width: 100%;
         height: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
            img{
                height: 100%;
            }
        }
        h3{
            color: #797979;
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            margin-top: 10px;
            margin-left: 10px;
        }
        h6{
            color: #231F20;
            font-size: 22px;
            margin-left: 10px;
            
        }
        p{
            color: #686466;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            margin-top: 15px;
            margin-left: 10px;
        }
        .rating {
            display: flex;
            flex-direction: row-reverse;
            gap: 0.3rem;
            --stroke: #666;
            --fill: #ffc73a;
            // border: 1px solid;
            width: 60%;
          }
          
          .rating input {
            appearance: unset;
          }
          
          .rating label {
            cursor: pointer;
          }
          
          .rating svg {
            width: 2rem;
            height: 2rem;
            overflow: visible;
            fill: transparent;
            stroke: var(--stroke);
            stroke-linejoin: bevel;
            stroke-dasharray: 12;
            animation: idle 4s linear infinite;
            transition: stroke 0.2s, fill 0.5s;
          }
          
          @keyframes idle {
            from {
              stroke-dashoffset: 24;
            }
          }
          
          .rating label:hover svg {
            stroke: var(--fill);
          }
          
          .rating input:checked ~ label svg {
            transition: 0s;
            animation: idle 4s linear infinite, yippee 0.75s backwards;
            fill: var(--fill);
            stroke: var(--fill);
            stroke-opacity: 0;
            stroke-dasharray: 0;
            stroke-linejoin: miter;
            stroke-width: 8px;
          }
          
          @keyframes yippee {
            0% {
              transform: scale(1);
              fill: var(--fill);
              fill-opacity: 0;
              stroke-opacity: 1;
              stroke: var(--stroke);
              stroke-dasharray: 10;
              stroke-width: 1px;
              stroke-linejoin: bevel;
            }
          
            30% {
              transform: scale(0);
              fill: var(--fill);
              fill-opacity: 0;
              stroke-opacity: 1;
              stroke: var(--stroke);
              stroke-dasharray: 10;
              stroke-width: 1px;
              stroke-linejoin: bevel;
            }
          
            30.1% {
              stroke: var(--fill);
              stroke-dasharray: 0;
              stroke-linejoin: miter;
              stroke-width: 8px;
            }
          
            60% {
              transform: scale(1.2);
              fill: var(--fill);
            }
          }
          
          
        .item-amount-cont{
            width: 45%;
            // border: 1px solid;
            position: absolute;
            height: 50px;
            bottom: 10px;
            left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            
            
            .value-dec{
                // width: 35%;
                flex: 5;
                border: 2px solid  #d8b828ae;
                font-weight: 800;
                height: 100%;
                border-radius: 8px;
                font-weight: 800;
                text-align: center;
                background: #F7D22D;
                transition: 0.2s;
                color: #fff;
                font-size: 25px;

                // text-size-adjust: 10px;
            }
            .item-amount-value{
                
                width: 20%;
                border: 2px dotted #d8b828ae;
                font-size: 22px;
                height: 100%;
                outline: none;
                border-radius: 8px;
                // margin: 0px 2px 0px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .value-inc{
                flex: 5;
                border: 2px solid #d8b828ae;
                height: 100%;
                border-radius: 8px;
                font-weight: 800;
                text-align: center;
                background: #F7D22D;
                transition: 0.2s;
                color: #fff;
                font-size: 25px;

            }
            .value-inc:hover, .value-dec:hover, .value-dec:focus{
                width: 35%;
                height: 100%;
                border: 2px solid #a58e24ae;
                border-radius: 16px;
                text-align: center;
                background: #f6d02a;
                font-style: normal;
                font-weight: 550;
                color: black;
                font-size: 25px;
                font-weight: 900;

            }
        }
        .home-card-button{
            position: absolute;
            bottom: 10px;
            right: 15px;
            height: 50px;
            width: 42%;
          
            
           
        }
        .cta {
            border: none;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 2px;
            text-align: center;
            border-radius: 50px;
        }
        .cta span {
          padding-bottom: 7px;
          letter-spacing: 4px;
          font-size: 14px;
          padding-right: 5px;
          text-transform: uppercase;
          .cta svg {
            transform: translateX(-8px);
            transition: all 0.3s ease;
            text-align: center;
            position: absolute;
            // width: 10px;

          }
        }    
          .cta:hover svg {
            transform: translateX(0);
        }
        
        .cta:active svg {
            transform: scale(0.7);
            width: 10px;
          }
          .svg-button{
            margin-top: -5px;
          }
          
          .hover-underline-animation {
            position: relative;
            color: black;
            padding-bottom: 20px;
          }
          
          .hover-underline-animation:after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000000;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
            
          }
          
          .cta:hover .hover-underline-animation:after {
            transform: scaleX(1);
            transform-origin: bottom left;
            
          }
    }
}